<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  	
    <title>Dorians Portfolio</title>
    <%= csrf_meta_tags %>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC:500,700|Roboto:400,700" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'css/materialize', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'css/style', media: 'all', 'data-turbolinks-track': 'reload' %>
 
  </head>

  <body>
    <%= yield %>
      <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <%= javascript_include_tag 'js/materialize', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'js/init', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
